@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-gradient {
  @apply bg-gradient-to-r from-primary-50 to-primary-400;
}

.button-shadow {
  box-shadow: -2px 4px #190a2d;
}

.button-border {
  border: 2px solid #190a2d;
}

.input-shadow {
  box-shadow: -2px 4px #190a2d !important;
}

.input-border {
  border: 3px solid #190a2d !important;
}

.card {
  border: 3px solid #190a2d;
}

.card-shadow {
  box-shadow: -3px 3px #190a2d;
}

.card-shadow-hover:hover {
  box-shadow: -3px 3px #190a2d;
}

.loader {
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: white;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button {
  @apply button-border button-shadow;
}

@font-face {
  font-family: "Sequel Sans";
  src: url("/assets/fonts/Sequel Sans Bold Disp.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Sequel Sans";
  src: url("/assets/fonts/Sequel Sans Medium Body.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Sequel Sans";
  src: url("/assets/fonts/Sequel Sans Medium Body.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Sequel Sans";
  src: url("/assets/fonts/Sequel Sans Light Body.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Sequel Sans";
  src: url("/assets/fonts/Sequel Sans Light Body.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Light.ttf");
}

.mega {
  @apply text-2xl font-bold sm:text-4xl;
}

.accent {
  @apply tracking-[0.2em] uppercase;
  font-family: "Montserrat", sans-serif;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-xl font-medium;
}

h3 {
  @apply text-base font-medium sm:text-xl;
}

h4 {
  @apply text-base font-medium;
}
