@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-gradient {
  @apply bg-gradient-to-r from-primary-50 to-primary-400;
}

.button-shadow {
  box-shadow: -2px 4px black;
}

.button-border {
  border: 2px solid black;
}

.card {
  border: 3px solid black;
}

.card-shadow {
  box-shadow: -3px 3px black;
}

button {
  @apply button-border button-shadow;
}

@font-face {
  font-family: "Sequel Sans";
  src: url("/assets/fonts/Sequel Sans Bold Display.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Sequel Sans";
  src: url("/assets/fonts/Sequel Sans Medium Body.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Sequel Sans";
  src: url("/assets/fonts/Sequel Sans Light Body.ttf");
  font-weight: 400;
}
